
html{
    background: linear-gradient(114deg, #7C1176 40%, #cc6ac94d 30%);
}
h1{
    text-align: center;
}
.login{
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    margin-left: 50px;
    width: 378px;
    height: 598px;
    top: 232px;
    left: 104px;
    background: #DA66D64D;
    border-radius: 20px;
    align-items: center;
}
.main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    padding: 20px;

}
.button {
border: none;
color: white;
padding: 16px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
width: 157.76px;
height: 60.51px;
top: 676.94px;
left: 130.63px;
border-radius: 50px;
border: 1px;

border: 1px solid #FFFFFF;


}
.loginbutton {
background: linear-gradient(0deg, #7C1176, #7C1176),linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

.registerbutton {
background-color: white; 
border: 1px solid #7C1176;

}

h1{
color:#DA66D64D;
font-size: 42px;
font-weight: 600;
line-height: 49px;
letter-spacing: 0em;
text-align: center;

}
.p1{
font-family: 'Roboto';
text-align: left;
width: 100.39px;
height: 26.1px;
top: 396.92px;
left: 147.02px;
font-family: 'Montserrat';
font-size: 12px;
font-weight: 600;
line-height: 15px;
letter-spacing: 0em;
text-align: center;
color:#FFFFFF;
;

}
#EF{
color: #7A1375;
}
#h2{
    font-family: 'Roboto';
color: #FFFFFF;
font-size: 28px;
font-weight: 550;
line-height: 37px;
letter-spacing: 0em;
text-align: center;

}
#who{
font-family: 'Roboto';
font-size: 30px;
font-weight: 600;
line-height: 37px;
letter-spacing: 0em;
text-align: center;
color: #731571;

}
#p2{
font-family: 'Roboto';
font-size: 20px;
font-weight: 600;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
color: #791274;

}
#pswd{
width: 324.00px;
height: 51.01px;
top: 434.89px;
left: 130.63px;
border-radius: 50px;
border: 1px;

background-color:#DA66D64D;
border: 1px solid #FFFFFF;
align-items: center;


}


